name: 3D Contribution Graph

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate 3D graph
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        with:
          github_token: ${{ github.token }}
          user_name: umid-tuxtayev

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "Generate 3D contribution graph" || echo "No changes to commit"
          git push
